@model BlogVM
@{
}
   <div class="col-lg-4">
                    <div class="blog-right-container">
                        <div class="blog-right-item blog-right-search">
                            <form action="#">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" placeholder="Search Keyword" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Keyword'">
                                        <div class="input-group-append">
                                            <button type="button" class="search-btn">
                                                <i class="fa fa-search" aria-hidden="true"></i>
                                            </button>
                                        </div>

                                    </div>
                                    <button class="search-submit-btn btn">Search</button>
                                </div>
                            </form>
                        </div>
                        <div class="blog-right-item blog-categories">
                            <h4>Category</h4>

                            <ul>
                               
                              @foreach (Category category in Model.Categories)
                             {
                              <li><a href="#"> @category.Name</a></li>
                             }
                                


                            </ul>
                        </div>
                        <div class="blog-right-item recent-post">
                            <h4>
                                Recent Post
                            </h4>
                            @foreach (Post post in Model.Posts.OrderByDescending(o=>o.Id).Take(4))
                           {
                                 <div class="blog-post-container">
                                <div style="width:46%;height:auto" class="recent-post-img">
                                    <img  style="width:150px;height:100px" src="~/images/@post.Img" alt="" srcset="">
                                </div>
                                <div class="recent-post-text mt-0">
                                    <a asp-controller="Blog" asp-action="Blogdetails" asp-route-id="@post.Id">
                                        <h3>@post.Title.Substring(0,36)...</h3>
                                    </a>

                                    <p>@post.CreatedAt.ToShortDateString()</p>
                                </div>
                            </div>
                           }
                          
                          

                        </div>
                        <div class="blog-right-item tag-clouds">
                            <div class="blog-post-container">
                                <h4>
                                    Tag Clouds
                                </h4>
                                <ul>
                                    @foreach (Tags tag in Model.Tags)
                                   {
                                         <li>
                                        <a href="#">@tag.Name</a>
                                    </li>
                                   }
                                  
                                   
                                </ul>
                            </div>
                        </div>
                        <div class="blog-right-item instagram-feeds">
                            <h4>
                                Instagram feeds
                            </h4>
                            <div class="blog-post-container">
                                <ul>
                                    @foreach (InstagramFeed item in @Model.InstagramFeeds)
                                   {
                                        <li>
                                        <a style="cursor:pointer"><img src="~/images/@item.Img" alt=""></a>
                                    </li>
                                   }
                                   
                                   
                                </ul>
                            </div>
                        </div>
                        <div class="blog-right-item blog-subscribe">
                            <h4>
                                Subscribe
                            </h4>
                            <form asp-controller="Blog" asp-action="SubscribeEmail" method="post">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <input type="email" name="Email" class="form-control" placeholder="Enter email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email'">


                                    </div>
                                    <button onclick="Popup()" type="submit" class="search-submit-btn btn w-100">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <script>
                    function Popup() {
  alert("Thank you for subscribe!");
}
                </script>
               