@model AppUserVM
@{
    ViewData["Title"] = "ChangePassword";
}

<div class="card" style="width: 18rem;">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">@Model.Id</li>
        <li class="list-group-item">@Model.Name</li>
        <li class="list-group-item">@Model.SurName</li>
        <li class="list-group-item">@Model.FatherName</li>
        <li class="list-group-item">@Model.Age</li>
        <li class="list-group-item">@Model.Email</li>
        <li class="list-group-item">@Model.UserName</li>
        <li class="list-group-item">@Model.Role</li>
    </ul>
    <a class="btn btn-primary" asp-action="Index">Go List</a>
    <form method="post">
        <div class="mb-3">
            <label asp-for="Password"></label>
            <input class="form-control" asp-for="Password">
            <span class="alert-danger" asp-validation-for="Password"></span>
        </div>
        <button type="submit" class="btn btn-danger">Change Password</button>
    </form>
</div>