@using Estore.ViewModels.BasketViewModel; 
@inject Estore.Services.LayoutService layoutService;
@{ 
    AppUserVM appUserVM = await layoutService.GetUser();
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/assets/slick.css"/>
    <link rel="stylesheet" type="text/css" href="~/assets/slick-theme.css" />
    <link rel="stylesheet"  href="~/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-xVVam1KS4+Qt2OrFa+VdRUoXygyKIuNWUUUBZYv+n27STsJ7oDOHJgfF0bNKLMJF" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/app.css">
    <link rel="stylesheet" href="~/css/site.css">
    <title>Document</title>
</head>
<body>


    <button class="animate__animated animate__bounce" onclick="topFunction()" id="topscrollbtn" title="Go to top"><i class="fa fa-arrow-up" aria-hidden="true"></i></button>
    <!-- Header starts -->
    <header>
        <section id="main-navbar">
            <nav class="navbar-expand-lg navbar-dark bg-black top-header  d-none d-lg-flex">
                <div class="container-fluid">
                    <div class="col-xl-12">
                        <div class="row">
                            <div class="d-flex justify-content-between align-items-center">
                                <ul class="nav">
                                    <li class="nav-item">
                                        <ul class="p-2 nav">
                                            <li class="nav-item">
                                                <div class="flag">
                                                    <img src="data:image/webp;base64,UklGRvwBAABXRUJQVlA4TPABAAAvGsADAL/jNrZtVdlPcIv+kHlKgfRM9F05pw23sW2ryn7yP64pQ0wJVEJMtTTA0IOFrvccR5Ikq0r3/I+7Oyy5FfdfO09mev5jdI5gdjW5+DuAGCDL386i2MLInwEDIEKM/HHD7e8aa6nbU+xPmKxxGcEAxMvxe8MVb7M+3Bz7E+/uxfbVd5vvsOsBCgmAHMEJbDGAASQAAjCASJUlSziolj/Nf6cgCLYYwGI3pEIKduOvYAOILTYQACS7kFzIlKu5eOFYhzap69Dv8DLEYuZvJQsGkkhiAEux6UkrNyjZjqk6/jWdpFeym0qff37nBGRQYmD9asyLt3K9tUy/vtuHmCkVEzPFbHI16xZwRywmFQqJquFTH5kIn+udAqJta2ecqW1OzVg1prad2kltv/9qFuYNvv+7Ef3P/sHxgYm+ld7lnqWNlpqm8KEtV9rp3qVtZXP+Jy83fNTVbdXQAKtrtePkKHx4T4UCdCqQ1tpuPSLf88kjnzw/5Rq2ToYuSFn8TmSEjxzYjkVkkpDXW2uT4al9w9EdSzccZeE3vyD8fmxmdkpMg+cm79ovzsLfXl/enz+ePh+/Hv4OL8/DK8tKRUl5MReVF1UUVucEskWgoS6sPikCLAJVmWncXF3/MzMAMMAMgAHg9DiNrHSaG9MA"
                                                        style="vertical-align: middle;
                                     border-style: none;">
                                                </div>
                                            </li>

                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <p class="nav-link" href="#"> +777 2345 7886</p>
                                    </li>
                                </ul>


                                <ul class="nav">
                                    <li class="nav-item">
                                        <a class="nav-link" asp-controller="Account" asp-action="Login"> My Account</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-controller="Product" asp-action="Index">Shopping</a>
                                    </li>

                                </ul>


                            </div>
                        </div>
                    </div>


                </div>


            </nav>


            <div class="bottom-header mt-1">
                <div class="container-fluid">
                    <div style="top:10px;" class="row align-items-center position-relative">

                        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-3">
                            <div class="logo d-flex justify-content-start">

                                <a asp-controller"Home" asp-action="Index"><img src="~/images/logo.webp"></a>

                            </div>
                        </div>
                        <div class="bottom-header-nav col-xl-6 col-lg-8 col-md-7 col-sm-5 d-flex justify-content-center">
                            <div class="d-none d-lg-block">
                                <nav>
                                    <ul class="nav">
                                        <li class="nav-item">
                                            <a class="nav-link" asp-controller="Home" asp-action="Index"> Home</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" asp-controller="Category" asp-action="Index"> Category</a>
                                        </li>
                                        <li class="nav-item latest">
                                            <a class="nav-link" asp-controller="Product" asp-action="Index">Latest</a>
                                            <ul>
                                                <li>
                                                    <a class="" asp-controller="Product" asp-action="Index">product list</a>
                                                </li>


                                            </ul>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" asp-controller="Blog" asp-action="Index">Blog</a>
                                            <ul>
                                                <li>
                                                    <a class="" asp-controller="Blog" asp-action="Index">Blog</a>
                                                </li>

                                            </ul>
                                        </li>
                                        <li class="nav-item"><a class="nav-link" href="#">Pages</a>
                                            <ul>
                                                <li><a asp-controller="About" asp-action="Index">About</a></li>
                                                <li><a asp-controller="Cart" asp-action="Index">Shopping Cart</a></li>
                                                <li><a asp-controller="Checkout" asp-action="Index">Checkout</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" asp-controller="Contact" asp-action="Index">Contact</a>
                                        </li>
                                    </ul>

                                </nav>
                            </div>


                        </div>
                        <div class="col-xl-5 col-lg-3 col-md-3 col-sm-3 d-flex fix-card align-items-center">
                            <div class="form-box d-none d-xl-table-row">
                                <input class="d-none d-xl-table-cell" type="text" name="Search" placeholder="Search products">
                                <div class="search-icon d-none d-xl-table-cell">
                                    <i class="fas fa-search special-tag"></i>
                                </div>
                            </div>
                            <ul class="bottom-header-right  d-flex d-lg-table-row">

                              
                                <li class="d-lg-table-cell shopping pt-3">
                                    <div class="shopping-card cart-block">
                                        <a asp-controller="Cart" asp-action="Index"><i class="fas fa-shopping-cart"></i></a>
                                               <div class="cart-total">
                                            <span class="text-number">
                                                @layoutService.GetBasket().Count
                                            </span>
                                           
                                            @if (layoutService.GetBasket().Count > 0)
                                            {
                                                double total = 0;
                                                foreach (BasketVM basketVM in layoutService.GetBasket())
                                                {
                                                    total += (basketVM.Quantity * basketVM.Price);
                                                }

                                                <span class="price pt-3">
                                                    $@total.ToString("F2");
                                                    <i class="fas fa-chevron-down"></i>
                                                </span>
                                            }
                                            else
                                            {
                                                <span class="price pt-3">
                                                    $0.00
                                                    <i class="fas fa-chevron-down"></i>
                                                </span>
                                            }

                                        </div>
                                        <div class="cart-dropdown-block">
                                            <div class=" single-cart-block ">
                                                @foreach (BasketVM basketVM in layoutService.GetBasket())
	                                            {
                                                    <div class="cart-product">
                                                        <a asp-controller="Product" asp-action="Productdetails" asp-route-Id="@basketVM.Id" class="image">
                                                            <img style="width: 120px !important; padding: 0 10px !important;" src="~/images/@basketVM.MainImage" alt="">
                                                        </a>
                                                        <div class="content">
                                                            <h3 class="title">
                                                                <a asp-controller="Product" asp-action="Productdetails" asp-route-Id="@basketVM.Id">
                                                                    @basketVM.Title
                                                                </a>
                                                            </h3>
                                                            <p class="price"><span class="qty">@basketVM.Quantity ×</span> $@((basketVM.Quantity * basketVM.Price).ToString("F2"))</p>
                                                            <a asp-controller="Cart" asp-action="RemoveCart" asp-route-Id="@basketVM.Id" class="cross-btn"><i style="border:unset" class="fas fa-times"></i></a>
                                                        </div>
                                                    </div>
	                                            }
                                            </div>
                                            <div class="single-cart-block">
                                                <div class="btn-block">
                                                    <a asp-controller="Cart" asp-action="Index" class="btn-block-btns">
                                                        View Cart <i style="" class="fas fa-chevron-right"></i>
                                                    </a>
                                                    <a asp-controller="Checkout" asp-action="Index" class="btn-block-btns" style=" background: #62ab00;color: #fff !important;margin-right: 0;">
                                                        Check Out <i class="fas fa-chevron-right"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                   
                                 
                                    
                                </li>
                                
                                  @if (User.Identity.IsAuthenticated)
                                        {
                                            <p> Welcome @appUserVM.Name</p>
                                            <a asp-controller="Account" asp-action="Logout" class="font-weight-bold">Logout</a>
                                        }
                                        else
                                        {
                                            <li class="d-none d-lg-table-cell"> <a asp-controller="Account" asp-action="Login" class="btn header-btn">Sign in</a></li> 
                                <li class="d-none d-lg-table-cell"> <a asp-controller="Account" asp-action="Register" class="btn header-btn">Register</a></li>
                                        }


                            </ul>


                        </div>
                        <div class="col-12 pt-5">

                            <div class="mobile-navbar d-block d-lg-none">

                                <div class="mobile-navbar-menu">

                                    <a href="~/javascript:void(0);" onclick="myFunction()" aria-haspopup="true" role="button" tabindex="0" class="mobile-nav-btn icon"><span class="mobile-nav-menu-txt">MENU</span><span class="mobile-nav-icon position-relative"><span style="top:0%" class="mobile-nav-icon-bar position-absolute"></span><span style="top: 33%;" class="mobile-nav-icon-bar position-absolute"></span><span style="top: 66%;" class="mobile-nav-icon-bar position-absolute"></span></span></a>
                                    <ul aria-hidden="true" role="menu" id="myLinks" class="mobile-navbar-ul">
                                        <li style="padding:0px 0px;" class="mobile-navbar-li">
                                            <a tabindex="-1" role="menuitem" class="mobile-navbar-a" asp-controller="Home" asp-action="Index"> Home</a>
                                        </li>
                                        <li style=" padding:0px 0px;" class="mobile-navbar-li">
                                            <a tabindex="-1" role="menuitem" class="mobile-navbar-a" asp-controller="Category" asp-action="Index"> Category</a>
                                        </li>
                                        <li style=" padding:0px 0px;" class="mobile-navbar-li">
                                            <a tabindex="-1" role="menuitem" aria-haspopup="true" class="mobileanchor firstanchor" asp-controller="Product" asp-action="Index">Latest
                                            <span class="mobilenav-arrow">+</span>
                                        </a>
                                            <ul role="menu" aria-hidden="false" class="mobile-submenu firstul">
                                                <li>
                                                    <a tabindex="-1" role="menuitem" class="mobile-navbar-a" asp-controller="Product" asp-action="Index">product list</a>
                                                </li>

                                            </ul>
                                        </li>
                                        <li style=" padding:0px 0px;" class="mobile-navbar-li">
                                            <a tabindex="-1" class="mobileanchor secondanchor" asp-controller="Blog" asp-action="Index">Blog
                                            <span class="mobilenav-arrow">+</span>
                                        </a>
                                            <ul class="mobile-submenu secondul">
                                                <li>
                                           <a tabindex="-1" role="menuitem" class="mobile-navbar-a" asp-controller="Blog" asp-action="Index">Blog</a>

                                                </li>

                                            </ul>
                                        </li>
                                        <li style="padding: 0px 0px;" class="mobile-navbar-li"><a tabindex="-1" aria-haspopup="true" class="mobileanchor thirdanchor">Pages
                                        <span class="mobilenav-arrow">+</span>
                                    </a>
                                            <ul class="mobile-submenu thirdul">
                                                <li><a tabindex="-1" role="menuitem" class="mobile-navbar-a" asp-controller="About" asp-action="Index">About</a></li>
                                                <li><a tabindex="-1" role="menuitem" class="mobile-navbar-a" asp-controller="Cart" asp-action="Index">Shopping Cart</a></li>
                                                <li><a tabindex="-1" role="menuitem" class="mobile-navbar-a" asp-controller="Checkout" asp-action="Index">Product Checkout</a></li>
                                            </ul>
                                        </li>
                                        <li style=" padding: 0px 0px;" class="mobile-navbar-li">
                                            <a tabindex="-1" class="mobile-navbar-a" asp-controller="Contact" asp-action="Index">Contact</a>
                                        </li>
                                    </ul>

                                </div>




                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </header>
    <!-- Header ends -->


    <div>
        @RenderBody()
    </div>
 <!-- Footer starts  -->
    <footer>
        <div class="footer-area footer-padding ">
            <div class="container">
                <div class="row d-flex justify-content-between ">
                    <div class="col-xl-3 col-lg-3 col-md-5 col-sm-6 ">
                        <div class="single-footer-div ">
                            <div class="footer-logo ">
                                <a asp-controller="Home" asp-action="Index"><img src="~/images/logo.webp" alt=" "></a>
                            </div>
                            <div class="footer-title ">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore.</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-5 ">
                        <div class="footer-title ">
                            <h4>Quick Links</h4>


                            <ul>
                                <li><a asp-controller="About" asp-action="Index">About</a></li>
                                <li><a asp-controller="Product" asp-action="Index"> Offers &amp; Discounts</a></li>
                                <li><a asp-controller="Checkout" asp-action="Index"> Get Coupon</a></li>
                                <li><a asp-controller="Contact" asp-action="Index"> Contact Us</a></li>
                            </ul>
                        </div>

                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-7 ">
                        <div class="footer-title ">
                            <h4>New Products</h4>
                            <ul>
                                <li><a asp-controller="Product" asp-action="Index">Woman Cloth</a></li>
                                <li><a asp-controller="Prodct" asp-action="Index">Fashion Accessories</a></li>
                                <li><a asp-controller="Product" asp-action="Index"> Man Accessories</a></li>
                                <li><a asp-controller="Product" asp-action="Index"> Rubber made Toys</a></li>
                            </ul>

                        </div>

                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-5 col-sm-7 ">
                        <div class="footer-title ">
                            <h4>Support</h4>
                            <ul>
                                <li><a asp-controller="Contact" asp-action="Index">Frequently Asked Questions</a></li>
                                <li><a asp-controller="About" asp-action="Index">Terms &amp; Conditions</a></li>
                                <li><a asp-controller="About" asp-action="Index">Privacy Policy</a></li>
                                <li><a asp-controller="About" asp-action="Index">Privacy Policy</a></li>
                                <li><a asp-controller="Contact" asp-action="Index">Report a Payment Issue</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="row ">
                    <div class="col-xl-7 col-lg-7 col-md-7 ">
                        <div class="footer-copy-right ">
                            <p>
                                Copyright ©
                                <script>
                                    document.write(new Date().getFullYear());
                                </script> All rights reserved | This template is made with <i class="far fa-heart "></i> by <a href="https://colorlib.com" target="_blank ">Colorlib</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-5 col-md-5 ">
                        <div class="footer-copy-right float-end ">

                            <div class="footer-social ">
                                <a href="https://twitter.com"><i class="fab fa-twitter"></i></a>
                                <a href="https://facebook.com"><i class="fab fa-facebook-f "></i></a>
                                <a href="#"><i class="fab fa-behance "></i></a>
                                <a href="#"><i class="fas fa-globe"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer ends -->


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin=" anonymous " referrerpolicy="no-referrer "></script>
    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13 " crossorigin="anonymous "></script>
    <script type="text/javascript" src="~/js/slick.js"></script>
    <script src="~/js/script.js">
    </script>
    <script src="~/js/owl.carousel.min.js"></script>
    
    <script>
        var $input = $(".input-number");

        $input.val(1);


        $(".minuspilus").click(function() {
            if ($(this).hasClass('input-number-increment'))
                $input.val(parseInt($input.val()) + 1);
            else if ($input.val() >= 1)
                $input.val(parseInt($input.val()) - 1);
        });
    </script>
    </body>
</html>